#footer {
  background: #363b44;
  color: #aba7a7;
  font-size: 15px;
  font-weight: 300;
  margin-top: 100px;
  padding: 100px 0 90px;
  text-align: center;

  p { margin-bottom: 10px }
  p.logos { margin-bottom: 20px }

  img {
    opacity: 0.5;
    padding-right: 20px;
    &:last-child { padding-left: 0 }
  }

  a { color: #8e8800 }
}
